<template>
    <div class="avatar">
        <img class="profile-picture" :src="profile_picture || '/img/default.png'"/>
        <span id="bubbles">
            <span v-if="!noscore" class="profile-score" title="total user score">{{score}}</span>
            <slot id="child"/>
        </span>
    </div>
</template>

<script>
  export default {
    props: ['user_id', 'noscore'],

    data() {
        return {
        };
    },

    computed: {
        user() {
            return Object.values(this.$store.state.users).find(user => (user.id == this.user_id));
        },

        profile_picture() {
            return this.user ? this.user.photo_url : null;
        },

        score() {
            if (this.user.total_score < 1000) return  this.user.total_score;
            else if (this.user.total_score < 1000000) return parseFloat(this.user.total_score/1000) .toFixed(1)+ "k";
            else if (this.user.total_score < 1000000000) return parseFloat(this.user.total_score/1000000).toFixed(1) + "m";
            else return parseFloat(this.user.total_score/1000000000).toFixed(1) + "b";
        }
    },

    watch: {

    }
  };
</script>

<style lang="scss" scoped>
    .profile-picture {
        border-radius: 30px;
        height: 100%;
        width: 100%;
    }

    .avatar {
        position: relative;
        height: 60px;
        width: 60px;
    }

    .profile-score {
        font-size: 12px;
        border-radius: 25px;
        color: white;
        background-color: black;
        box-sizing: border-box;
        display: inline-block;
        padding: 0px 8px;
        // height: 20px;
        text-align: center;
        // line-height: 20px;
        vertical-align: middle;
    }

    #child {
        display: inline-block;
    }

    #bubbles {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

</style>
