<template>
    <div v-if="users && !should_hide" id="user-list">
        <span>In this channel:</span>
        <user-list-item v-for="user in users" :key="user.id" :user="user" @UserRightClicked="showContextMenu"/>
        <context-menu ref="user_context_menu"  :items="context_menu.items" :config="context_menu"></context-menu>
    </div>
</template>


<script>
  export default {
        data() {
            return {
                context_menu: {
                        items: [
                            {
                                text: 'Direct Message',
                                icon: 'fa-comments',
                                cb: this.messageUser.bind(this)
                            },
                            {
                                text: 'Kick',
                                icon: 'fa-sign-out-alt',
                                cb  : this.kickUser.bind(this),
                            },
                            {
                                text: 'Ban',
                                icon: 'fa-times-circle',
                                cb: this.banUser.bind(this)
                            },
                        ],
                        event: null,
                        focus: null,
                    },
            }
        },

        methods: {
            showContextMenu($event, args) {
                $event.preventDefault();
                $event.stopPropagation();
                this.$refs.user_context_menu.show(args, event);
            },

            kickUser(user_id) {
                this.$store.dispatch('kickUser', {user_id, channel_id: this.$store.state.current_selection.id});
            },

            banUser(user_id) {
                this.$store.dispatch('banUser', {user_id, channel_id: this.$store.state.current_selection.id});
            },

            messageUser(user_id) {
                this.$store.dispatch('messageUser', {recipient_id: user_id});
            },
        },


      computed: {
          users() {

              return this.is_global ?  this.$store.state.global_channel_users[this.$store.state.current_selection.id] : this.$store.state.channel_users[this.$store.state.current_selection.id];
          },

          selection_type() {
              return this.$store.state.current_selection.type;
          },

          is_global() {
              return this.$store.state.current_selection.type === "global_channel";
          },

          should_hide() {
              return !["channel", "group", "global_channel"].includes(this.selection_type);
          }
      }
  };
</script>

<style lang="scss">
    #user-list {
        grid-area: user_list;
        flex-direction: column;
        background-color: #F2E8DD;
        padding: 10px;
        z-index: 1;
    }

    .user-list-item {
        font-weight: 400;
    }
</style>
