<template>
    <div class="user-list-item clickable" @contextmenu.prevent="showContextMenu($event, user.id)">
        <avatar :user_id="user.id" id="user-list-avatar" :noscore="true">
            <span :class="indicatorClass"></span>
        </avatar>
        <span>{{user.name}}</span>
    </div>
</template>


<script>
export default {
    props: ['user'],
    data() {

        return {

        }
    },

    methods: {
        showContextMenu($event, args) {
            this.$emit('UserRightClicked', $event, args);
        }
    },


    computed: {
        indicatorClass() {
            return "online-indicator " + (this.user.is_online ? "active" : "");
        },
    }
};
</script>

<style lang="scss">
    .user-list-item {
        font-weight: 400;
        margin-bottom: 5px;
    }

    .avatar#user-list-avatar{
        height: 30px;
        width: 30px;
        display: inline-block;
        margin-right: 5px;
    }

    .online-indicator {
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: #666;
        border-radius: 5px;

        &.active{
            background-color: #10cc10;
        }
    }
</style>
