<template>
    <div v-if="messages" id="chat-messages">
        <chat-message v-for="(message, index) in messages" :message="message" :continuation="isContinuation(index)" :key="index"/>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        props: ['messages'],
        computed: {
        },

        methods: {
            isContinuation(index) {
                if (index > 0) {
                    let message = this.messages[index];
                    let prev_message = this.messages[index-1];

                    let same_sender = this.messages[index-1].sender.id === this.messages[index].sender.id;
                    let same_day = window.moment(message.created_at, "YYYY-MM-DD HH:mm:ss").isSame(window.moment(prev_message.created_at, "YYYY-MM-DD HH:mm:ss"), 'day');
                    return same_sender && same_day;
                } else {
                    return false
                };
            }
        }
    };
</script>

<style lang="scss" scoped>
    #chat-messages {
        margin: 0;
        padding: 0;
        height: 100%;
    }
</style>
