<template>
    <div class="chat-message">
        <div v-if="!continuation" class="message-header">
            <span class="message-author">
                <strong class="primary-font">
                    {{ message.sender.name }}
                </strong>
            </span>
            <span class="message-date">
                on {{formattedPostDate}}
            </span>
        </div>
        <div class="message-body">
            <p class="message-text">
                {{ message.message }}
            </p>
            <span class="message-date">
                <span v-if="message.updated_at !== message.created_at">edited at {{formattedEditTime}} - </span>
                {{formattedPostTime}}
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['message', 'continuation'],

        computed: {
            formattedPostDate() {
                return this.message ? window.moment(this.message.created_at, "YYYY-MM-DD HH:mm:ss").format("DD MMM 'YY") : null;
            },

            formattedPostTime() {
                return this.message ? window.moment(this.message.created_at, "YYYY-MM-DD HH:mm:ss").format("HH:mma") : null;

            },

            formattedEditTime() {
                return this.message ? window.moment(this.message.updated_at, "YYYY-MM-DD HH:mm:ss").format("HH:mma") : null;
            },

        }
    };
</script>

<style lang="scss" scoped>
    .chat-message {
        //Divide messages sent by different sender by a dotted line and whitespace, if not the first message;
        &:not(:first-child) {
            & .message-header {
                padding-top: 5px;
                border-top: 1px dotted #B3A9A9;
                margin-top: 5px;
            }
        }
        padding-right: 5px;
    }

    .chat-message:last-child {
        border-bottom: none;
    }

    .message-body {
        margin: 0;
        color: #555555;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .message-text {
        margin-bottom: 0px;
    }

    .message-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5px;
    }

    .message-date {
        // margin: 0;
        font-size: 0.7em;
        color: gray;

    }

</style>
