<template>
    <div id="chat-area">
        <div v-if="current_channel" id="channel-header">
            <span id="channel-title">#{{current_channel.name}}<span id="channel-settings-icon"><i class="fas fa-cog clickable" @click="showChannelSettings()"/></span></span>
            <span id="channel-topic">{{current_channel.topic}}</span>
        </div>

        <div id="channel-body">
            <chat-messages :messages="messages"></chat-messages>
        </div>
        <div id="channel-footer">
            <chat-form :disabled="false"/>
        </div>
        <modal :show="show_channel_settings" @Hide="hideChannelSettings()" modal_title="Channel Configuration"><channel-settings></channel-settings></modal>

    </div>
</template>
<script>
export default {
    mounted () {
        //Set our chat messages area to scroll to the bottom whenever a message
        //is sent, or whenever the channel is switched:
        this.$store.subscribe((mutation, state) => {
            if (!this.current_channel) return;
            if (this.mutationIsMessageForThisChannel(mutation) || this.mutationIsSelectThisChannel(mutation)) {
                //Necessary to wait until the next tick, once this mutation has
                //been applied, else the last message will still be below the
                //scroll-line:
                this.$nextTick(function() {
                    var container = document.getElementById("channel-body");
                    if (container != null) container.scrollTop = container.scrollHeight;
                });
            }
        })
    },

    methods: {
        mutationIsMessageForThisChannel(mutation) {
            return (mutation.type === "addMessages" || mutation.type === "addGlobalMessages") && mutation.payload.channel_id == this.current_channel.id;
        },

        mutationIsSelectThisChannel(mutation) {
            return (mutation.type === "selectChannel" || mutation.type === "selectGlobalChannel") && mutation.payload && mutation.payload.channel_id == this.current_channel.id;
        },

        showChannelSettings() {
            this.$store.commit('showChannelSettings');
        },

        hideChannelSettings() {
            this.$store.commit('hideChannelSettings');
        },
    },

    computed: {
        current_channel() {
            if (this.$store.state.current_selection.type=='channel') {
                return this.$store.state.channels[this.$store.state.current_selection.id];
            }
            else if (this.$store.state.current_selection.type == "global_channel") {
                return this.$store.state.global_channels[this.$store.state.current_selection.id];
            }
            else return null;
        },

        show_channel_settings() {
            return this.$store.state.ui.show_channel_settings;
        },

        messages() {
            if (!this.current_channel) return [];

            if (this.$store.state.current_selection.type=='channel') {
                return this.$store.state.channel_messages[this.$store.state.current_selection.id];
            }
            else if (this.$store.state.current_selection.type == "global_channel") {
                return this.$store.state.global_channel_messages[this.$store.state.current_selection.id];
            }


        },
    }
}


</script>
<style lang="scss" scoped>
    #chat-area {
        height: 100%;
        padding: 20px;

        display: grid;
        grid-template-areas: "chat_header"
                             "chat_body"
                             "chat_footer";

        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }

    #channel-body {
        grid-area: chat_body;
        overflow: hidden;
        overflow-y: auto;
    }

    #channel-header {
        grid-area: chat_header;
        margin-bottom: 10px;
    }

    #channel-footer {
        grid-area: chat_footer;
        padding-top: 10px;
    }

    #channel-title {
        display: block;
        font-weight: 700;
        font-size: 2em;
        line-height: 1;
    }

    #channel-topic {
        font-weight: 600;
    }

    #channel-settings-icon {
        margin-left: 5px;
        font-size: 0.5em;
        vertical-align: top;
        opacity: 0.5;

        &:hover {
            opacity: 0.9;
        }
    }
</style>

