<template>
    <div id="chat-input">
        <input id="message-input-box" type="text" name="message" :disabled="disabled || false" :class="' ' + (!disabled ? '' : 'no-permission')" :placeholder="placeholder" v-model="newMessage" @keyup.enter="sendMessage">

        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm clickable" id="send-button" @click="sendMessage" :disabled="disabled">
                Send
            </button>
        </span>
    </div>
</template>

<script>
    export default {
        props: ['disabled'],
        data() {
            return {
                newMessage: ''
            }
        },

        methods: {
            sendMessage() {
                if (this.target_type === null) return;
                this.$store.dispatch('sendMessage', {
                    sender: this.user,
                    message: this.newMessage,
                    target_type: this.target_type,
                    target_id: this.$store.state.current_selection.id
                });

                this.newMessage = '';

            }
        },
        computed: {
            target_type() {
                switch(this.$store.state.current_selection.type) {
                    case 'channel': return 'App\\Channel'
                    case 'global_channel': return 'App\\GlobalChannel'
                    case 'group': return 'App\\MessageGroup'
                    case 'user': return 'App\\User'
                    default: console.error("INVALID TARGET TYPE FOR MESSAGE @ sendMessage"); return null;
                }
            },
            user() {
                return this.$store.state.user;
            },

            channel_id() {
                return this.$store.state.current_selection.id;
            },

            placeholder() {
                return !this.disabled ? 'Type your message here...' : "You don't have permission to send messages here."
            }
        }
    }
</script>

<style lang="scss" scoped>
    #chat-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #send-button {
        height: 100%;
        margin: 0 2px;
    }
    #message-input-box {
        flex: 1;
        display: inline-block;
    }
</style>
