<template>
    <div id="global-channels-modal">
        <div id="global-channel-list">
            <div class="channel" v-for="channel in all_channels_sorted" :key="channel.id">
                <span>
                    <span class="channel-name">{{channel.name}}</span> - <span class="channel-topic">{{channel.topic}}</span>
                </span>
                <span v-if="!isInChannel(channel.id)" class="join-button fas fa-user-plus clickable" @click="joinChannel(channel.id)"></span>
                <span v-else class="join-button fas fa-user-check"></span>
            </div>
        </div>
        <div id="create-channel-dropdown" >
            <span class="clickable" @click="show_create_channel = !show_create_channel">Create a New Channel</span>
            <div id="create-channel-form" v-if="show_create_channel">
                <input type="text" class="channel-input input-sm form-control" v-model="new_channel.name" placeholder="Channel Name">
                <input type="text" class="channel-input input-sm form-control" v-model="new_channel.topic" placeholder="Channel Topic">
                <span class="channel-input public-checkbox">
                    Public: <input type="checkbox" v-model="new_channel.public">
                </span>
                <button type="button" class="btn btn-primary btn-sm submit-button" @click="createChannel">Create</button>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            channels: [],
            show_create_channel: false,
            new_channel: {
                name: "",
                topic: "",
                public: true
            },
        }
    },
    created() {
        this.getChannels();
    },

    methods: {
        getChannels() {
            axios.get('/global-channels/all').then(response => {
                this.channels = response.data;
            })
        },

        isInChannel(id) {
            let value = this.current_channels.includes(id);
            return  value;
        },

        joinChannel(id) {
            this.$store.dispatch("joinGlobalChannel", id);
        },

        createChannel() {
            this.$store.dispatch("createGlobalChannel", {
                name: this.new_channel.name,
                topic: this.new_channel.topic,
                public: this.new_channel.public,
            }).catch(error => {
                if (error.status === 422) {
                    swal("Incorrect")
                }
            });
        }
    },
    computed: {

        current_channels() {
            return Object.keys(this.$store.state.global_channels).map(key => (parseInt(key)));
        },
        all_channels_sorted(){
            return this.channels.sort((a,b) => {
                let lt = this.isInChannel(a.id) < this.isInChannel(b.id);
                let gt = this.isInChannel(a.id) > this.isInChannel(b.id);
                return gt ? gt : lt? lt : 0;
            });
        }
    }
};
</script>

<style lang="scss">
    @import "../../../sass/_variables.scss";

    #global-channels-modal {
        color: black;
    }

    #global-channel-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    #create-channel-dropdown {
        padding: 5px 20px;
        width: 100%;
        text-align: center;
        border: 1px solid grey;
        border-radius: 10px;

        #create-channel-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .submit-button {
            height: 34px;
            width: 80px;
            vertical-align: middle;
        }

        .channel-input {
            width: 80%;
            margin-bottom: 5px;
        }

        .public-checkbox {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            input {
                margin-left: 5px;
            }
        }


    }


    .channel {
        font-size: 1.1em;
        width: 100%;
        border-bottom: 1px solid #bbb;
        padding: 10px 20px;

        &:hover {
            background-color: lightgrey;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .channel:last-child {
        border-bottom: none;
        margin-bottom: 5px;
    }

    .join-button {
        border: 1px solid slategray;
        padding: 10px;
        background-color: slategray;
        color: white;
        border-radius: 10px;

        &.fa-user-check {
            background-color: green;
        }
        &.fa-user-plus {
            &:hover {
                background-color: darken(slategray, 10%);
            }
        }
    }

    .channel-name {
        font-weight: 600;
    }

    .channel-topic {
        font-weight: 300;
        color: rgba(0,0,0,0.7);
        font-size: 0.9em;
    }




</style>
