<template>
    <div id="channel-list">
        <div id="list-items">
            <div id="global-channels">
                <div class="channel-list-heading clickable" @click="showChannelList()">Global Channels:</div>
                <global-channel-list-item  v-for="channel in global_channels" :key="channel.id" :channel="channel"></global-channel-list-item>
            </div>

            <div id="modules">
                <div class="channel-list-heading">Modules:</div>
                <module-list-item v-for="module in modules" :key="module.id" :module="module"></module-list-item>

            </div>

            <div id="group-messages">
                <div class="channel-list-heading">Message Groups:</div>
                <message-group-list-item v-for="group in message_groups" :key="group.id" :group="group"></message-group-list-item>
            </div>

            <div id="direct-messages">
                <div class="channel-list-heading">Direct Messages:</div>
                <direct-message-list-item v-for="dm in direct_messages" :key="dm" :user="$store.state.users[dm]"/>
            </div>

        </div>

        <status-bar></status-bar>


        <modal :show="show_channel_list" @Hide="hideChannelList()" modal_title="All Public Channels"><all-channels></all-channels></modal>



    </div>
</template>


<script>
  export default {
      created() {

      },

      methods: {
            select(id) {
                this.$store.dispatch("selectChannel", {
                     channel_id: id
                });
            },

            getUsernameForDM(dm) {
                let user = this.$store.getters.getUserByID(dm);
                return user? user.name : null;
            },

            sendMessage(dm) {

            },

            showChannelList() {
                this.$store.commit('toggleChannelsModal', true);
            },

            hideChannelList() {
                this.$store.commit('toggleChannelsModal', false)
            },
        },
        computed: {
            global_channels() {
                return Object.values(this.$store.state.global_channels);
            },

            modules() {
                return Object.values(this.$store.state.modules);
            },

            global_channel_unreads() {
                return this.$store.state.global_channel_unreads;
            },

            message_groups() {
                return this.$store.state.message_groups;
            },

            direct_messages() {
                return Object.keys(this.$store.state.direct_messages);
            },

            users() {
                return Object.values(this.$store.state.users);
            },

            show_channel_list() {
                return this.$store.state.ui.show_channel_list;
            }

        }
    };
</script>

<style lang="scss">
    @import "../../../sass/_variables.scss";

    #channel-list {
        grid-area: channel_list;
        flex-direction: column;
        background-color: #232420;
        color: rgba(255,255,255,0.70);
        display: flex;
    }

    #list-items {
        padding: 10px;
        flex: 1;
    }



    .badge {
        color: white;
    }

    #global-channels {
        margin-bottom: 10px;
    }

    .pad-left {
        padding-left: 10px;
    }

    .channel-list-item {
        font-weight: 600;
        &.unread {
            color: rgba(255,255,255,1);
        }

        &.selected {
            border-left: 3px solid $blue;
            width: 100%;
            display: inline-block;
            padding-left: 5px;
        }

        &:hover {
            color: white;
        }
    }

    .module-title {
        font-weight: 700;
    }

    .channel-list-heading {
        font-weight: 800;
    }

    .module-list-item {
        margin-bottom: 10px;
    }

    div .modal >.box {
        width: 90%;
    }

</style>
