<template>
    <div>


        <h2>Member Permissions </h2>
        <div class="header-row">
            <div class="header-column flex-2">User</div>
            <div class="header-column" v-for="(permission, index) in sorted_permission_names" :key="index">{{permission}}</div>
        </div>
        <div class="user-row" v-for="user in user_permissions" :key="user.id">
            <div class="column user-column" :title="user.name">
                <avatar :user_id="user.id" class="mini-avatar" noscore=true ></avatar>
                <span class="user-name">{{user.name}}</span>
            </div>

            <div class="column permission" v-for="(permission,index) in Object.keys(just_permissions[user.id]).sort()" :key="index" v-show="permission != undefined">
                <input type="checkbox" v-model="user.pivot[permission]" :disabled="user.id == $store.state.user.id &&false" @change="updatePermissions(user.id)">
            </div>

        </div>
    </div>
</template>

<script>
  export default {
    data() {
        return {
            permission_list: [
                'Send Messages',
                'Read Messages',
                'Delete Message',
                'Edit Messages',
                'Invite Users',
                'Kick Users',
                'Ban Users',
                'Leave Channel',
                'Edit Settings',
            ],
            user_permissions: null,
            changed: false,
        }
    },

    mounted() {
        this.getUserPermissionsForChannel();
    },

    methods: {
        getUserPermissionsForChannel() {
            axios.get('/channels/' + this.current_channel_id +'/user-permissions').then(response => {
                this.user_permissions = response.data;
            });
        },

        updatePermissions(user_id) {
            this.$store.dispatch('setChannelPermissions', {
                channel_id: this.current_channel_id,
                permissions: this.just_permissions[user_id],
                user_id: user_id
            }).then(response => {
                this.user_permissions = response.data;
            })
        },



        getReadableName(word) {
            return word.replace(/_/g, ' ').ca;
        },

    },

    computed: {
        current_channel_id() {
            return this.$store.state.current_selection.id;
        },

        channel_users() {
            return Object.values(this.$store.state.channel_users[this.current_channel_id])
        },

        just_permissions() {
            let just_permissions = {}
            Object.values(this.user_permissions).forEach(row => {
                just_permissions[row.id] = {
                    ...row.pivot
                }
                delete just_permissions[row.id]['user_id'];
                delete just_permissions[row.id]['channel_id'];
            })
            return just_permissions;
        },

        sorted_permission_names() {
            return this.permission_list.sort();
        }


    }
  };
</script>

<style lang="scss" scoped>
    .avatar.mini-avatar {
        height: 30px;
        width: 30px;
        min-height: 30px;
        min-width: 30px;
        margin-right: 5px;
    }


    .user-row, .header-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 5px;
    }

    .user-row {
        height: 40px;

        &:nth-child(odd) {
            background-color: #eee;
        }
    }

    .permission {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .permission-name {
        text-align: center;
    }

    .column, .header-column {
        flex: 1;
        margin: 0px 1px;
    }

    .header-column {
        font-weight: 600;
        text-align: center;
    }

    .user-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;

        &>.user-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

        }
    }


    .user-column, .flex-2 {
        flex: 1.5;
    }

    .unsaved-message {
        font-size: 1rem;
        vertical-align: middle;
        font-weight: 500;
        color: rgba(200,0,0,0.7)
    }

</style>
