<template>
    <div class="channel-list-item pad-left clickable"  @click="select">
                <span :class="'channel-list-item ' +( (channel_unreads[channel.id])? 'unread ': ' ' + (is_selected ? 'selected ' : ''))">#{{channel.name}} </span>
                <span v-if="channel_unreads[channel.id]" class="badge">
                    {{channel_unreads[channel.id]}}
                </span>
            </div>
</template>

<script>
export default {
    props: ['channel'],
    methods: {
          select() {
              this.$store.dispatch("selectChannel", {
                    channel_id:   this.channel.id
              })
          },

      },
      computed: {
            channel_unreads() {
                return this.$store.state.channel_unreads;
            },

            is_selected() {
                let selection = this.$store.state.current_selection;
                return  selection.type === 'channel' && selection.id === this.channel.id;
            }

      }
}
</script>

<style lang="scss" scoped>


</style>
