<template>
    <div class="module-list-item pad-left">
        <span class="module-title">{{module.title}} </span>
        <div>
            <div class="QA pad-left">
                <span class="channel-list-item clickable" @click="selectQA()">Q&A</span>
            </div>

            <channel-list-item  v-for="channel in getChannelsForModule(module.id)" :key="channel.id" :channel="channel"></channel-list-item>
        </div>
    </div>
</template>

<script>
export default {
    props: ['module'],
    methods: {
          select(id) {
              this.$store.commit("selectChannel", id);
              this.$store.dispatch("updateChannelUsers", id);
          },

          selectQA() {
              this.$store.commit("selectWindow", {type: 'question_area', id: this.module.id});
          },

          getChannelsForModule(module_id) {
              return this.module_channels.filter(channel => (channel.module_id === module_id));
          }
      },
      computed: {
            channels() {
                return Object.values(this.$store.state.channels).filter(channel => (channel.module_id === null));
            },

            modules() {
                return Object.values(this.$store.state.modules);
            },

            module_channels() {
                return Object.values(this.$store.state.channels).filter(channel => (channel.module_id !== null));
            },

            channel_unreads() {
                return this.$store.state.channel_unreads;
            },

            questions() {
                return Object.values(this.$store.state.questions);
            }
      }
}
</script>

<style lang="scss" scoped>


</style>
