<template>
    <div class="answer">
        <div class="answer-header">
            <avatar :user_id="answer.sender_id"/>

            <div class="sender-name">{{getUser(answer.sender_id).name}}</div>

            <span class="upvotes clickable" @mouseenter="showVotes" @mouseleave="hideVotes" @click="upvote">
                <i class="fas fa-thumbs-up"/>
                {{answer.votes.length}}

                <div v-if=" votes_hovered && answer.votes.length" class="votes-hover">
                    <span v-for="vote in answer.votes" :key="vote.id">
                        +1 {{vote.user.name}}
                    </span>
                </div>
            </span>
        </div>
        <div class="answer-text"><markdown :source="answer.text"></markdown></div>
    </div>

</template>

<script>
  export default {
    props: ['answer'],
    data() {
        return {
            votes_hovered: false,
        }
    },

    methods: {
        getUser(user_id) {
            return this.users.find(user => (user.id == user_id));
        },

        showVotes() {
            this.votes_hovered = true;
        },

        hideVotes() {
            this.votes_hovered = false;
        },

        upvote() {
            axios.post('/answers/' + this.answer.id + '/upvote').then(response => {
                this.$store.commit('addAnswers', [response.data]);
            })
        }
    },


    computed: {
        users() {
            return Object.values(this.$store.state.users);
        }
    },

    watch: {

    }
  };
</script>

<style lang="scss" scoped>

    .thumbs-indicator::after {
        content: 'upvotes';
    }

    .avatar {
        width: 50px !important;
        height: 50px !important;
    }

    .answer {
        border-bottom: 1px gray dotted;
        padding-bottom: 15px;

        &:last-child {
            border-bottom: none;
        }
    }

    .answer-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
        padding: 10px;
    }



    .sender-name {
        font-weight: 600;
        font-size: 1.1em;
        padding: 5px;
        flex: 1;
    }

    .answer-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        line-height: 1;
        flex: 1;
    }

    .answer-text {
        // align-self: flex-start;
        line-height: 1;
        padding: 5px;
        padding-left: 65px;
        margin-top: -30px;
    }

    .upvotes {

        padding: 5px;
        line-height: 1;
        font-size: 1.2em;
        position: relative;
    }

    .upvote-icon {
        font-size: 20px;
    }

    .votes-hover {
        position: absolute;
        right: 100%;
        top: 100%;
        background-color: rgba(1,1,1,0.8);
        border-radius: 10px;
        border-top-right-radius: 0px;

        padding: 15px;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 0.9em;
        white-space: nowrap;
        margin-bottom: 2px;
        z-index: 2;
    }

    .upvote-icon {
        font-size: 30px;
    }

</style>
