<template>
	<div class="answer-input-bar">
        <div v-if="preview" class="answer-preview-area">
            <markdown :source="answer_text"></markdown>
        </div>
        <textarea v-else v-bind:style="{maxHeight: heightProperty}"  id="answer-text-input" name="answer-text" class="form-control input-sm textarea" placeholder="Write your answer here" v-model="answer_text" @focus="focused" @blur="unfocused"/>

        <span id="answer-button-bar">
            <span id="button-bar-left">
                <ToggleSwitch v-model="preview" :labels="{checked: 'Preview', unchecked: 'Preview'}"></ToggleSwitch>
            </span>

            <span id="button-bar-right">
                <button class="btn btn-primary btn-sm clickable" id="send-button" @click="postAnswer">
                    Post
                </button>
            </span>
        </span>
    </div>
</template>

<script>
	export default {
        props: ['height'],
        data() {
            return {
                answer_text: '',
                preview: false,
            }
        },

        computed: {
            heightProperty() {
                return this.height ? this.height : "unset";
            }
        },

        methods: {
            postAnswer() {
                axios.post('questions/'+this.$store.state.current_question+'/answers', {
                    text: this.answer_text,
                    sender_id: this.$store.state.user.id,
                    question_id: this.$store.state.current_question
                }).then(response => {
                    this.$store.commit('addAnswers', [response.data]);
                    this.answer_text = '';
                })
            },

            focused(event) {
                this.textarea_focused = true;
                this.$emit("Focus");

            },

            unfocused(event) {
                this.$emit("Blur");
                this.textarea_focused = false;
            }
        }
	};
</script>

<style lang="scss" scoped>
    .answer-input-bar {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    #answer-text-input {
        flex: 1;
    }

    #answer-button-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        flex: 0;

    }


    .icon-button {
        font-size: 1.3em;
        margin: -2px 5px;
    }

    .answer-preview-area {
        flex: 1;
        overflow-y: auto;
    }
</style>
