
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700,800');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~highlight.js/styles/default.css";

html, body {
    // font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    scrollbar-color: #777 #eee;
    background-color: $body-bg;
}

#app {
    height: 100%;
    display: grid;
    grid-template-areas: "navbar" "body";
    grid-template-rows: 55px 1fr;
}

nav {
    grid-area: navbar;
    display: hidden;
}

main {
    grid-area: body;
    overflow: hidden;
}

#chat-page {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas: "channel_list chat_area user_list";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    #chat-page {
        grid-template-columns: 0px 1fr 0px;
        &.expand-left {
            grid-template-columns: 200px 1fr 0px;
        }

        &.expand-right {
            grid-template-columns: 0px calc(100% - 200px) 200px;
        }
    }

    body {
        font-size: 12px;
    }

    .gt-800 {
        display: none !important;
    }
}

@media only screen and (min-width: 800px) {
    .only-lt-800 {
        display: none !important;
    }


}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-collapse {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    background-color: #fff;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ddd;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
}


.clickable {
    cursor: pointer;
}

.text-button {
    font-weight: 700;
    padding: 2px 5px;

}




h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}
