<template>
    <div class="question clickable">
        <div class="question-left">
            <div class="question-replies">{{numAnswers}}</div>
            <div class="thumbs-indicator">{{thumbs}}</div>
        </div>
        <div class="question-middle">
            <div class="question-header">
                <div class="question-author">
                    <strong class="primary-font">
                        {{ question.title }}
                    </strong>
                </div>
            </div>
            <div class="question-body">
                <p class="question-text">
                    {{ question.text }}
                </p>
            </div>
        </div>
        <div class="question-right">
            <div class="question-sender">{{sender.name}}</div>
            <div class="question-date">{{sender.date}} - {{sender.time}}</div>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['question'],
    data() {
        return {
            numAnswers: 4,
            thumbs: 1,
            sender: {
                name: "Benjamin Sutton",
                date: "11-04-19",
                time: "19:00"
            },

            isOpen: false,
            answerDownloaded: false
        }
    },

    methods: {


    },


    computed: {
        answers() {
            return Object.values(this.$store.state.answers).filter(answer => (answer.question_id === this.question.id));
        },

    },
  };
</script>

<style lang="scss" scoped>
    .question {
        margin-bottom: 5px;
        padding: 10px;
        border-bottom: 1px dotted #B3A9A9;

        display: flex;
        flex-direction: row;

        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }


    .question-left {
        flex: 0 0  auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    @media only screen and (max-width: 800px ) {
        .question-left {
            flex-direction: column;

            &>.question-replies {
                margin-bottom: 5px;
            }
        }
    }

    .question-replies, .thumbs-indicator {
        height: 50px;
        width: 50px;
        font-weight: 600;
        border: 1px dashed #a5a5a5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        margin-right: 5px;
        position: relative;
        box-sizing: border-box;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }

        &::after{
            position: absolute;
            bottom: -5px;
            left: -1px;
            text-align: center;
            width: 50px;
            font-size: 0.7em;
            font-family: monospace;
            box-sizing: border-box;
        }
    }

    .question-replies::after {
        content: 'replies';
    }

    .thumbs-indicator::after {
        content: 'upvotes';
    }

    .question-middle {
        flex: 1 1 auto;
    }
    .question-right {
        flex: 0 0  auto;
    }

    .question:last-child {
        border-bottom: none;
    }

    .question-body {
        margin: 0;
        color: #555555;
    }

    .question-text {
        margin-bottom: 0px;
    }

    .question-modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .question-box {
        width: 75%;
        height: 90%;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .question-box-header {
        display: flex;
        flex-direction: row;
    }

    .answer {
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        // align-items: center;
        height: 80px;
        padding: 10px;


    }

    .sender-name {
        font-weight: 600;
        font-size: 1.1em;
        justify-self: flex-start;
        align-self: flex-start;
        padding: 5px;
    }

</style>
