<template>
    <div id="chat-input">
        <input id="btn-input" type="search" name="search" class="form-control input-sm" placeholder="Search all questions.." v-model="newMessage" @keyup.enter="sendMessage">
    </div>
</template>

<script>
    export default {

        data() {
            return {
                newMessage: ''
            }
        },

        methods: {
            sendMessage() {
                this.$store.dispatch('sendMessage', {
                    sender: this.user,
                    message: this.newMessage,
                    target_type: 'App\\Channel',
                    target_id: this.$store.state.current_selection.id
                });

                this.newMessage = ''
            }
        },
        computed: {
            user() {
                return this.$store.state.user;
            }
        }
    }
</script>

<style lang="scss" scoped>
    #chat-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #btn-input {
        text-align: center;
    }
</style>
