<template>
    <div class="modal" id="chat-input">
        <div class="modal-box">
            <span class="modal-title">
                Ask a Question
            </span>

            <div id="input-bar">
                <input id="question-title-input"  placeholder="What do you want to ask?" type="text" name="title" v-model="question_title" class="form-control" />
                <textarea id="question-text-input" placeholder="Please ask your question in detail to give people the best chance of helping you."  name="question" class="form-control" v-model="question_text" @keyup.enter="postQuestion"/>
                <span class="input-group-btn" id="send-button">
                    <button class="btn btn-primary btn-sm"  @click="postQuestion($event, true)">
                        Send
                    </button>
                </span>
            </div>
            <div id="preview">
                <div class="label">Live Preview</div>
                <avatar :user_id="user.id"></avatar>
                <span id="preview-title">{{question_title}}</span>
                <markdown :source="question_text" id="markdown-preview"/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                question_text: '',
                question_title: '',
            }
        },

        methods: {
            postQuestion(event, force) {
                if(event.shiftKey || force) {
                    this.$store.dispatch('postQuestion', {
                        sender: this.user,
                        title: this.question_title,
                        text: this.question_text,
                        module_id: this.$store.state.current_qa_section
                    }).then((question) => {
                        this.question_text = '';
                        this.question_title = '';
                        this.$store.commit('selectQuestion', question.id);
                        this.$emit('submitted');
                    });

                    event.stopPropagation();
                }
            }
        },
        computed: {
            user() {
                return this.$store.state.user;
            }
        }
    }
</script>

<style lang="scss" scoped>
    #send-button {
        height: 100%;
        float: right;
    }

    #textarea {
        float: left;
    }

    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .modal-title {
        font-size: 1.8em;
        font-weight: 600;
        text-align: center;
        display: block;
        margin-top: -20px;
        margin-bottom: 15px;
    }

    .modal-box {
        width: 60%;
        height: 80%;
        background-color: white;
        padding: 20px;
    }

    .label {
        font-weight: 600;
        font-size: 1.3em;
    }

    #question-text-input {
        margin-bottom: 15px;
    }

    #preview-title {
        font-weight: 600;
        font-size: 1.1em
    }

    #question-title-input {
        margin-bottom: 10px;

    }


</style>
