<template>
    <div id="question-board">
        <div id="questions-header">
            <div id="heading">
                <div id="questions-title">{{current_module.module_code}} {{current_module.title}}</div>
            </div>
            <div class="flex-row">
                <question-search id="search"></question-search>

                <div id="ask-new-question">
                    <button class="btn btn-primary btn-sm" @click="openQuestionModal">
                        Ask a Question
                    </button>
                </div>
            </div>
        </div>

        <div id="questions-body">
            <question v-for="question in questions" :question="question" :key="question.id" @click.native="show_question(question)"/>
        </div>

        <question-modal></question-modal>
        <question-form-modal v-if="show_question_modal" @submitted="show_question_modal=false"/>
    </div>
</template>

<script>
  export default {
    data() {
        return {
            show_question_modal: false
        }
    },

    methods: {
        show_question(question) {
            this.$store.commit('selectQuestion', question.id);
            this.$store.dispatch('fetchAnswersForQuestion', question.id);
        },

        openQuestionModal() {
            this.show_question_modal = true;
        },
    },

    computed: {
        questions() {
            return Object.values(this.$store.state.questions).filter(question=> (question.module_id == this.current_qa_section));
        },

        current_qa_section() {
            return this.$store.state.current_selection.type == 'question_area' ? this.$store.state.current_selection.id : null;
        },

        current_module() {
            return Object.values(this.$store.state.modules).find(module=> (module.id === this.current_qa_section))
        }


    }
  };
</script>

<style lang="scss" scoped>
    #question-board {
        grid-area: chat_body;
        margin: 0;
        padding: 0;
        height: 100%;
        display: grid;
        grid-template-areas: "questions_header" "questions_search" "questions_body" ;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
    }


    #questions-header {
        grid-area: questions_header;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 10px;
    }

    @media only screen and (max-width: 800px) {
        #questions-header {
            flex-direction: column;
        }
    }

    #search {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        flex: 1 1 10%;
        margin-right: 5px;
    }

    #heading {
        width: auto;
        flex: 1 1 10%;
        position: relative;
    }

    #ask-new-question {
        margin-right: 5px;
        font-weight: 600;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            margin: 0;
            height: calc(1.6em + 0.75rem + 2px);
        }
    }

    #questions-title {
        font-weight: 600;
        font-size: 1.5em;
        position: relative;
        margin-bottom: 10px;

        &::after {
            content: "Questions and Answers";
            font-size: 0.8em;
            font-weight: 500;
            position: absolute;
            top: calc(100% - 10px);
            left: 5px;
        }
    }

    #questions-body {
        grid-area: questions_body;
    }

    #questions-footer {
        grid-area: questions_search;

    }

    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
