<template>
    <div v-if="question" class="question-modal" @click="hide">
        <div class="question-box" @click="dontHide">
            <div class="modal-close-button-container clickable"  @click="hide">
                <octicon class="modal-close-button clickable" iconName="x"></octicon>
            </div>
            <div class="question-box-body">
                <div class="question-box-left">
                    <div class="question-box-header">
                        <h1>{{question.title}} aoeaoe</h1>
                    </div>
                    <div class="question-box-question">
                        <!-- <markdown-it :source="question.text" ></markdown-it> -->
                        <markdown :source="question.text" class="question-box-text"/>
                    </div>

                    <div class="question-box-footer">
                        <span id="author-span">
                            <avatar id="author-avatar" :user_id="question.sender_id"/>
                            {{author.name}}
                            <Votes id="votes" :question="question"/>
                        </span>

                    </div>
                </div>

                <div class="question-box-right">
                    <span id="answers-header">Answers</span>
                    <div class="answers">
                        <answer v-for="answer in answers" :key="answer.id" :answer="answer"/>
                    </div>

                    <answer-form :height="answer_focused ? 'unset' : '50px'" id="answer-form" :class="answer_focused ? 'selected' : ''" @Focus="textareaFocused" @Blur="textareaUnfocused"></answer-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data() {
        return {
            numAnswers: 4,
            thumbs: 1,
            sender: {
                name: "Benjamin Sutton",
                date: "11-04-19",
                time: "19:00"
            },

            isOpen: false,
            answerDownloaded: false,
            answer_focused: false,
        }
    },

    methods: {
        clicked() {
            this.isOpen = !this.isOpen;;
        },

        hide() {
            this.$store.commit('selectQuestion', null);
        },

        dontHide(event) {
            event.stopPropagation();
        },

        textareaFocused() {
            this.answer_focused = true;

        },

        textareaUnfocused() {
            this.answer_focused = false;
        }

    },


    computed: {
        answers() {
            return Object.values(this.$store.state.answers).filter(answer => (answer.question_id === this.question.id)).sort((a, b) => {
                if (a.votes.length < b.votes.length) return 1
                else if (a.votes.length > b.votes.length) return -1
                else return 0;

            });
        },

        question() {
            return Object.values(this.$store.state.questions).find(question => (question.id === this.$store.state.current_question));
        },

        author() {
            return this.$store.getters.getUserByID(this.question.sender_id);
        }

    },

    watch: {
        isOpen(value) {
            if (value && !this.answerDownloaded) {
                this.$store.dispatch('fetchAnswersForQuestion', this.question.id);
                this.answerDownloaded = true;
            }
        }
    }
  };
</script>

<style lang="scss" scoped>
    .question-modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .question-box {
        width: 75%;
        height: 90%;
        background-color: white;
        padding: 20px;
        position: relative;
    }

    .question-box-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex: 0 0 auto;

        & h1 {
            font-size: 1.6em
        }
    }

    .question-box-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }



    .question-box-left {
        height: 100%;
        flex: 2;
        display: flex;
        flex-direction: column;
        position: relative;
        // padding-bottom: 50px;


    }

    .question-box-question {
        flex: 1;
        overflow: hidden;
    }

    .question-box-text{
        height: 100%;
        overflow-y: auto;

    }

    .question-box-right {
        flex: 3;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        height: 100%;
        border-left: 1px dotted rgba(0,0,0,0.2);
        margin-left: 5px;

        #answers-header {
            align-self: center;
            font-weight: 600;
            font-size: 1.2em;
            padding-bottom: 5px;
            width: 100%;
            text-align: center;
            border-bottom: 1px dotted rgba(0,0,0,0.2);
        }
    }

    @media only screen and (max-width: 800px ) {
        .question-box-body {
            flex-direction: column;
        }

        .question-box-right {
            border-top: 1px dotted rgba(0,0,0,0.2);
            margin-top: 5px;
            border-left: none;
            margin-left: 0px;
            padding-left: 0px;
            position: relative;
            padding-bottom: 80px;

        }

        .question-box {
            width: 95%;
            padding: 10px;
            overflow-y: auto;
            position: relative;
        }

        #answer-form {
            background-color: white;
            position: fixed;
            padding-bottom: 5px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .modal-close-button-container {
        position:absolute;
        right: 0px;
        top: 0px;
        color: black;
        z-index: 1;
    }

    .modal-close-button {

        padding-left: 1px;
        padding-bottom: 1px;
        height: 20px;
        width: 20px;

    }

    #answer-form {
        flex: 0;
        margin-top: 10px;
        max-height: 50%;

        &.selected {
            flex: 4;
        }

    }


    .answers {
        flex: 1;
        height: 100%;
        overflow-y: auto;
    }

    #author-span {
        display: flex;
        flex-direction: row;
        align-items: center;

        &>#author-avatar {
            height: 45px;
            width: 45px;
        }

        &>#votes {
            margin-left: auto;
        }
    }
</style>
