<template>
    <div class="channel-list-item pad-left" @click="select()">
        <span :class="'channel-list-item '  + (is_selected ? 'selected ' : '')">{{user? user.name : "..."}}</span>
    </div>
</template>

<script>
export default {
    props: ['user'],
    methods: {
          select() {
            this.$store.commit('selectWindow', {
                type: 'user',
                id: this.user.id
            })
          },

          selectQA() {

          },


      },
      computed: {
            messages() {
                return Object.values(this.$store.state.direct_messages[this.user.id]);
            },

            is_selected() {
                let selection = this.$store.state.current_selection;
                return  selection.type === 'user' && selection.id === this.user.id;
            }

      }
}
</script>

<style lang="scss" scoped>


</style>
