<template>
    <div class="channel-list-item pad-left" @click="select()">
        <span :class="'channel-list-item '  + (is_selected ? 'selected ' : '')">{{group.name}} </span>
    </div>
</template>

<script>
export default {
    props: ['group'],
    methods: {
          select() {
              this.$store.dispatch("selectMessageGroup", {group_id: this.group.id})
          },

          selectQA() {

          },


      },
      computed: {
            messages() {
                return Object.values(this.$store.state.group_messages[this.group.id]);
            },

            is_selected() {
                let selection = this.$store.state.current_selection;
                return  selection.type === 'group' && selection.id === this.group.id;
            }

      }
}
</script>

<style lang="scss" scoped>


</style>
