<template>
    <div id="chat-area">
        <div v-if="current_group" id="channel-header">
            <span id="channel-title">{{current_group.name}}</span>
        </div>

        <div id="channel-body">
            <chat-messages :messages="messages"></chat-messages>
        </div>
        <div id="channel-footer">
            <chat-form/>
        </div>
    </div>
</template>
<script>
export default {
    mounted () {
        //Set our chat messages area to scroll to the bottom whenever a message
        //is sent, or whenever the channel is switched:
        this.$store.subscribe((mutation, state) => {
            if (this.mutationIsMessageForThisChannel(mutation) || this.mutationIsSelectThisChannel(mutation)) {
                //Necessary to wait until the next tick, once this mutation has
                //been applied, else the last message will still be below the
                //scroll-line:
                this.$nextTick(function() {
                    var container = document.getElementById("channel-body");
                    if (container != null) container.scrollTop = container.scrollHeight;
                });
            }

        })
    },

    methods: {
        mutationIsMessageForThisChannel(mutation) {
            return (mutation.type === "addGroupMessages") && mutation.payload.group_id == this.current_group.id;
        },

        mutationIsSelectThisChannel(mutation) {
            return mutation.type === "selectWindow" && mutation.payload && mutation.payload.type === 'group' && mutation.payload.id == this.current_group.id;
        },
    },

    computed: {
        current_group() {
            return this.$store.state.message_groups[this.$store.state.current_selection.id] || null;
        },

        messages() {
            return this.$store.state.group_messages[this.current_group.id];
        }
    }
}


</script>
<style lang="scss" scoped>
    #chat-area {
        height: 100%;
        padding: 20px;

        display: grid;
        grid-template-areas: "chat_header"
                             "chat_body"
                             "chat_footer";

        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }

    #channel-body {
        grid-area: chat_body;
        overflow: hidden;
        overflow-y: auto;
    }

    #channel-header {
        grid-area: chat_header;
        margin-bottom: 10px;
    }

    #channel-footer {
        grid-area: chat_footer;
        padding-top: 10px;
    }

    #channel-title {
        display: block;
        font-weight: 700;
        font-size: 2em;
        line-height: 1;
    }

    #channel-topic {
        font-weight: 600;
    }

    #channel-settings-icon {
        margin-left: 5px;
        font-size: 0.5em;
        vertical-align: top;
        opacity: 0.5;

        &:hover {
            opacity: 0.9;
        }
    }
</style>

