<template>
    <div v-if="visible" class="context-menu" id="context-menu">
        <div class="menu-item" v-for="(item, index) in items" :key="index" @click.stop="click(item, $event)" v-click-outside.stop="clickOutside">
            <i :class="'fa fa-fw ' + item.icon"></i>
            <span class="menu-item-text">{{item.text}}</span>
        </div>
    </div>

</template>

<script>
    import ClickOutside from 'vue-click-outside';

    export default {
        props: ['items'],
    	data() {
    		return {
                visible: false,
                position: {x: 0, y: 0},
                arguments: null
            }
        },

        mounted() {

        },

        methods: {
            click(entry, event) {
                entry.cb(this.arguments);
                this.visible = false;
            },

            clickOutside(event) {
                if (event.type == "click" && event.button == 0) {
                    this.visible = false;
                }
                event.stopPropagation();
            },

            show(args, event) {
                this.arguments = args;
                this.visible = true;
                this.$nextTick(() => {
                    let menu = document.getElementById('context-menu');
                    //Position next to mouse cursor and ensure it doesn't go off screen
                    if (menu) {
                        let x = event.clientX;
                        let y = event.clientY;

                        let vh = window.innerHeight ;
                        let vw = window.innerWidth;

                        let mh = menu.clientHeight;
                        let mw = menu.clientWidth;

                        if ( x+mw > vw ) x = vw-(mw+10);
                        if ( y+mh > vh ) y = vh - (mh+10);

                        menu.style.top  = y + 'px';
                        menu.style.left = x + 'px';
                    }
                });
            },

            hide() {
                this.visible = false;
            }
        },

        directives: {
            ClickOutside
        }
    }
</script>

<style lang="scss" scoped>
    $context-bg: #ebebeb;

    .context-menu {
        position: fixed;
        padding : 2px 1px;
        min-width: 210px;
        // margin: 100px;

        background: $context-bg;
        color     : #000;
        z-index   : 1000;

        font-size: 0.8em;
        overflow : hidden;

        border: 1px solid #cbcbcb;
    }

    .menu-item {
        padding: 5px;
        position: relative;
        background-color: $context-bg;
        margin-bottom: 5px;

        &:hover {
            background-color: darken($context-bg, 10%);
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -3px; left: 0;
            height: 1px;
            width: 100%;
            z-index: 1;
            // margin: 1px 0;
            padding: 0px 1px;
            // margin: -1px; /* !importanté */
            border-radius: inherit; /* !importanté */
            background: linear-gradient(to right, $context-bg 1%, #aaa 50%, $context-bg 99%);
            box-sizing: border-box;

            // display      : block;
            // content      : '';
            // height       : 1px;
            // width        : 90%;
            // margin       : 5px auto;
            // border-bottom: 1px solid #aaa;
            // position: absolute;
            // bottom: 5;
            // left: 0;
        }

        &:last-child {
            &:after {
               content: none;

            }

            margin-bottom: 0px;
        }
    }

</style>
