<template>
    <div id="chat-page" :class="classStr">
        <channel-list></channel-list>
        <view-area></view-area>
        <user-list></user-list>
    </div>
</template>

<script>
  export default {
    props: [],
    methods: {

    },
    computed: {
        classStr() {
            if (this.$store.state.mobile_ui.expand_left) return "expand-left";
            else if (this.$store.state.mobile_ui.expand_right) return "expand-right"
            else return "";

        }
    }
  };
</script>

<style lang="scss" scoped>



</style>
