<template>
    <div v-if="source" class="markdown-container" v-html="html">

    </div>
</template>

<script>
    var MarkdownIt = require('markdown-it');
    var hljs = require('highlight.js'); // https://highlightjs.org/
    var md = require('markdown-it')({
        highlight: function (str, lang) {
            if (lang && hljs.getLanguage(lang)) {
                try {
                    return hljs.highlight(lang, str).value;
                } catch (__) {}
            }

            return ''; // use external default escaping
        }
    });

    export default {
        props: ['source'],
        data() {
            return {
            }
        },

        methods: {


        },


        computed: {
            html() {
                return md.render(this.source);
            }
        },

        watch: {

        }
    };
</script>

<style lang="scss">
    .markdown-container {

        pre {
            border: 1px lightgray solid;
            max-height: 250px;
            max-width: 500px;
            overflow: auto;
            padding: 5px;
        }
    }

</style>
