<template>
    <div v-if="show" class="modal" @click="hide">
        <div class="box" @click="dontHide">
            <span v-if="modal_title" class="modal-title">
                {{modal_title}}
            </span>

            <div class="modal-close-button-container clickable"  @click="hide">
                <octicon class="modal-close-button clickable" iconName="x"></octicon>
            </div>

            <slot></slot>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['show', 'modal_title'],
    methods: {
        hide() {
            this.$emit('Hide');
        },

        dontHide(event) {
            event.stopPropagation();
        },
    },
  };
</script>

<style lang="scss" scoped>
    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

     .modal-title {
        font-size: 1.8em;
        font-weight: 600;
        text-align: center;
        display: block;
        margin-top: -20px;
        margin-bottom: 15px;
        color: black;
    }

    .box {
        width: 75%;
        height: 90%;
        background-color: white;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .modal-close-button-container {
        position: absolute;
        right: 0px;
        top: 0px;
        color: black;
    }

    .modal-close-button {

        padding-left: 1px;
        padding-bottom: 1px;
        height: 20px;
        width: 20px;

    }


</style>
