<template>
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel" id="vue-nav-bar">
        <span id="hamburger-icon" class="fas fa-2x fa-bars clickable only-lt-800" @click="toggleChannelsList()"></span>
        <a class="navbar-brand ml-auto mr-auto" href="/">
            {{ app_name }}
        </a>
        <span v-if="['channel', 'group', 'global_channel'].includes($store.state.current_selection.type)" class="fas fa-2x fa-users clickable only-lt-800" @click="toggleUsersList()"></span>


        <div class="" id="navbarSupportedContent">
            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
                <li v-if="!logged_in" class="nav-item"> <a class="nav-link" href="/register">Register</a> </li>
                <li v-if="!logged_in" class="nav-item"> <a class="nav-link" href="/login">Login</a> </li>

            </ul>
        </div>
    </nav>
</template>

<script>
  export default {
    props: ['app_name', 'logged_in', 'user'],
    methods: {
        logout() {
            axios.post('/logout').then(response => {
                location.reload();
            })
        },
        toggleChannelsList() {
            this.$store.commit('toggleLeftSidebar');
        },

        toggleUsersList() {
            this.$store.commit('toggleRightSidebar');
        },
    },
  };
</script>

<style lang="scss" scoped>
#vue-nav-bar {
    grid-area: navbar;
}

.navbar-toggler {
    margin-right: 10px;
}

#hamburger-icon {
    color: rgba(0,0,0,1);
    // font-size: 1.5em;
}


</style>
