<template>
    <div id="status-bar">
        <div id="user-status" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{this.$store.state.user? this.$store.state.user.name : '...'}}  <span class="caret"></span>
        </div>

        <div id="status-dropdown" class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" @click="logout">
                Logout
            </a>


        </div>
    </div>
</template>

<script>
export default {
    props: [],
    methods: {
        logout() {
            axios.post('/logout').then(response => {
                location.reload();
            })
        }
    },
};
</script>

<style lang="scss" scoped>
    #status-bar {
        width: 100%;
        height: 50px;
    }

    #user-status {
        color: white;

        &[aria-expanded="true"] {
            background-color: darken(#232420, 5%);
            // color: black;
        }
    }

    #status-dropdown.dropdown-menu {
        border-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: darken(#232420, 5%);
        color: white;
    }
</style>
