<template>
    <div :class="className" @click="toggle">
        <div :class="'v-switch-core' + (toggled ? ' toggled' : '')" >
            <div class="v-switch-button" :style="buttonStyle"/>
            <template v-if="labels">
                <span class="v-switch-label v-left" v-if="toggled">
                    <slot name="checked">
                    <template>{{labelChecked}}</template>
                    </slot>
                </span>

                <span class="v-switch-label v-right" v-else>
                    <slot name="unchecked">
                        <template>{{labelUnchecked}}</template>
                    </slot>
                </span>
            </template>

        </div>

    </div>
</template>

<script>
const DEFAULT_COLOR_CHECKED = "#75c791";
const DEFAULT_COLOR_UNCHECKED = "#bfcbd9";
const DEFAULT_LABEL_CHECKED = "on";
const DEFAULT_LABEL_UNCHECKED = "off";
const DEFAULT_SWITCH_COLOR = "#fff";

const contains = (object, title) =>
  typeof object === "object" && object.hasOwnProperty(title);

const px = v => v + "px";

const translate3d = (x, y, z = "0px") => {
  return `translate3d(${x}, ${y}, ${z})`;
};

export default {
  name: "ToggleButton",
  props: {
    value: {
      type: Boolean,
      default: false
    },
    name: {
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    },
    sync: {
      type: Boolean,
      default: false
    },
    speed: {
      type: Number,
      default: 300
    },
    color: {
      type: [String, Object],
      validator(value) {
        return typeof value === "object"
          ? value.checked || value.unchecked || value.disabled
          : typeof value === "string";
      }
    },
    switchColor: {
      type: [String, Object],
      validator(value) {
        return typeof value === "object"
          ? value.checked || value.unchecked
          : typeof value === "string";
      }
    },
    cssColors: {
      type: Boolean,
      default: false
    },
    labels: {
      type: [Boolean, Object],
      default: false,
      validator(value) {
        return typeof value === "object"
          ? value.checked || value.unchecked
          : typeof value === "boolean";
      }
    },
    height: {
      type: Number,
      default: 22
    },
    width: {
      type: Number,
      default: 50
    },
    margin: {
      type: Number,
      default: 3
    },
    fontSize: {
      type: Number
    }
  },
  computed: {
    className() {
      let { toggled, disabled } = this;

      return ["vue-js-switch", { toggled, disabled }];
    },

    buttonRadius() {
      return this.height - this.margin * 2;
    },

    distance() {
      return px(this.width - this.height + this.margin);
    },

    buttonStyle() {
      const background = this.switchColor ? this.switchColorCurrent : null;

      return {
        background
      };
    },



    colorChecked() {
      let { color } = this;

      if (typeof color !== "object") {
        return color || DEFAULT_COLOR_CHECKED;
      }

      return contains(color, "checked") ? color.checked : DEFAULT_COLOR_CHECKED;
    },

    colorUnchecked() {
      let { color } = this;

      return contains(color, "unchecked")
        ? color.unchecked
        : DEFAULT_COLOR_UNCHECKED;
    },

    colorDisabled() {
      let { color } = this;

      return contains(color, "disabled") ? color.disabled : this.colorCurrent;
    },

    colorCurrent() {
      return this.toggled ? this.colorChecked : this.colorUnchecked;
    },

    labelChecked() {
      const { labels } = this;

      return contains(labels, "checked")
        ? labels.checked
        : DEFAULT_LABEL_CHECKED;
    },

    labelUnchecked() {
      const { labels } = this;

      return contains(labels, "unchecked")
        ? labels.unchecked
        : DEFAULT_LABEL_UNCHECKED;
    },

    switchColorChecked() {
      const { switchColor } = this;

      return contains(switchColor, "checked")
        ? switchColor.checked
        : DEFAULT_SWITCH_COLOR;
    },

    switchColorUnchecked() {
      const { switchColor } = this;

      return contains(switchColor, "unchecked")
        ? switchColor.unchecked
        : DEFAULT_SWITCH_COLOR;
    },

    switchColorCurrent() {
      let { switchColor } = this;

      if (typeof switchColor !== "object") {
        return switchColor || DEFAULT_SWITCH_COLOR;
      }

      return this.toggled ? this.switchColorChecked : this.switchColorUnchecked;
    }
  },
  watch: {
    value(value) {
      if (this.sync) {
        this.toggled = !!value;
      }
    }
  },
  data() {
    return {
      toggled: !!this.value
    };
  },
  methods: {
    toggle(event) {
      this.toggled = !this.toggled;
      this.$emit("input", this.toggled);
      this.$emit("change", {
        value: this.toggled,
        srcEvent: event
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";

.vue-js-switch {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  user-select: none;
//   font-size: 10px;
  cursor: pointer;

  .v-switch-input {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
  }

  .v-switch-label {
    padding: 4px;
    padding-left: 1px;
  }

  .v-switch-core {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: #bfcbd9;

    height: 29px;
    border-radius: 14px;

    outline: 0;
    margin: 0;

    transition: border-color 0.3s, background-color 0.3s;
    user-select: none;

    padding: 2px 3px;

    .v-switch-button {
        border-radius: 100%;
        background-color: #fff;
        z-index: 2;
        order: 0;
        margin: 0px 3px 0px 0px;
        height: 23px;
        width: 23px;
    }


    &.toggled{
        .v-switch-button {
            z-index: 2;
            order: 1;
            margin: 0px 0px 0px 3px;
        }

        background-color: $blue;
        color: white;


    }

  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
</style>
