<template>
    <div id="view-area" :class="classString">
        <question-board v-if="$store.state.current_selection.type === 'question_area'"></question-board>
        <chat-area v-else-if="$store.state.current_selection.type === 'channel' || $store.state.current_selection.type === 'global_channel'"/>
        <message-group-area v-else-if="$store.state.current_selection.type === 'group'"/>
        <direct-message-area v-else-if="$store.state.current_selection.type === 'user'"/>

        <div v-else>Select a channel or message area from the list to the left.</div>
    </div>
</template>
<script>
export default {
    computed: {
        classString() {
            switch(this.$store.state.current_selection.type) {
                case "user": return "expanded-right";
                case "question_area": return "expanded-right";
                default: return "";
            }
        },
    }
}


</script>
<style lang="scss" scoped>
    #view-area {
        grid-column-start: chat_area;
        grid-column-end: chat_area;
        grid-row: chat_area;
        background-color: #DDD4CA;

        &.expanded-right {
            grid-column-end: user_list;
        }

        &.expanded-left {
            grid-column-start: channel_list;
        }
    }


</style>

