<template>
    <div class="thumbs-indicator">{{question.votes.length}}</div>

</template>

<script>
    export default {
        props: ['question'],


    }
</script>

<style lang="scss" scoped>
    .thumbs-indicator {
        height: 50px;
        min-width: 50px;
        max-width: 50px;
        font-weight: 600;
        border: 1px dashed #a5a5a5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        margin-right: 5px;
        position: relative;
        box-sizing: border-box;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }

        &::after {
            position: absolute;
            bottom: -5px;
            left: -1px;
            text-align: center;
            width: 50px;
            font-size: 0.7em;
            font-family: monospace;
            box-sizing: border-box;
            content: 'upvotes';
        }
    }

</style>
